/* ===== NAVBAR ===== */
.navbar .nav-link {
  color: #333 !important;
  font-size: 15px;
  transition: 0.2s;
}

.navbar .nav-link:hover {
  color: #0d6efd !important;
}

.logo {
  width: 140px;
  height: 40px;
}

/* ===== HERO SECTION ===== */
.hero_content ,  .hero_image_container{
    padding-top: 60px;
}
.hero_section {
  background: #f8f9fa;
  padding: 80px 0;
}

.hero_title {
  font-size: 40px;
  line-height: 1.3;
  color: #0d3b66;
}

.hero_text {
  color: #555;
  font-size: 16px;
  line-height: 1.7;
}

.hero_image {
  width: 90%;
  border-radius: 14px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

/* Button Style */
.btn-primary {
  background-color: #0d6efd;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
}
