* {
  font-family: "Inter", sans-serif;
}
/* ===== NAVBAR ===== */
.navbar .nav-link {
  color: #333 !important;
  font-size: 15px;
  transition: 0.2s;
}

.navbar .nav-link:hover {
  color: #0d6efd !important;
}

.logo {
  width: 140px;
  height: 40px;
}

/* contact us */
.contact-info{
    background-color: transparent;
}
.contact-info p {
  margin-bottom: 12px;
  font-size: 15px;
}

.social-icons a {
  font-size: 22px;
  margin-right: 12px;
  color: #333;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #000;
}

.contact-section h2 {
  letter-spacing: 1px;
}

.form-btn{
    color: white;
    background-color: #0d6efd;
    border-radius: 20px;
}
.form-btn:hover{
    color: white;
    background-color:#0b5ed7 ;
}

/* Footer section */
.footer-links a {
  display: block;
  margin-bottom: 8px;
  opacity: 0.85;
  transition: 0.3s;
}

.footer-links a:hover {
  opacity: 1;
  padding-left: 5px;
}


/* navbar Button Style */
.btn-primary {
  background-color: #0d6efd;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
}