/* ===== NAVBAR ===== */
.navbar .nav-link {
  color: #333 !important;
  font-size: 15px;
  transition: 0.2s;
}

.navbar .nav-link:hover {
  color: #0d6efd !important;
}

.logo {
  width: 140px;
  height: 40px;
}
/* Footer section */
.footer-links a {
  display: block;
  margin-bottom: 8px;
  opacity: 0.85;
  transition: 0.3s;
}

.footer-links a:hover {
  opacity: 1;
  padding-left: 5px;
}

/* Button Style */
.btn-primary {
  background-color: #0d6efd;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
}